<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gilimedia.githubuser2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_dg_green"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_dg_green"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="Github User Search"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity"
            android:label="Detail User" />

        <activity
            android:name=".FavoriteActivity"
            android:label="Favorite User" />

        <activity
            android:name=".NotifSetting"
            android:label="Notification Setting" />

        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>



</manifest>